<form method="post">
	<head>
		<style type="text/css">
		.cat{vertical-align:text-top;}
		.error{color:red;}
		</style>
		<title> My packing checklist </title>
	</head>
	<body>
		<h1> My Packing Checklist </h1>
		<h2> Trip Name: {{name}}, {{days}} days</h2>
		<table style="width:500px">
			<tr>
			<p>Instructions: </p>
			<ul>
				<li>Check the packed items, then press "Update" to indicate as packed,
				and vice versa </li>
				<li>"Add" allows you to add your own items, then press "Update" to save</li>
				<li>"Remove" deletes the item from the list</li>
				<li>"Edit" allows you to change the item</li>
			</ul></tr>
			<tr>
			<input value="Update" type="submit">
			<button type="button">Print</button>
			</tr>
			<br><br>
			Add item
			<input name="new" value="{{entry}}"><input type="radio" name="cat" value="Clothing">Clothing  
			<input type="radio" name="cat" value="Toiletry">Toiletry  
			<input type="radio" name="cat" value="Other">Other
			<div class="error">{{caterror}}  </div>
			<br>
			<tr>
				<td> <h3><b> To Pack </b></h3></td>
				<td> <h3><b> Packed </b></h3></td>
			</tr>
			<tr>
				<td class="cat"> Clothing <br>
				{% for item in cn: %}
					<input name={{item.key().id()}} type="checkbox">{{item.quantity+" "+item.item}}<br>
				{% endfor %} </td>
				<td class="cat"> Clothing <br>
				{% for item in cp: %}
					<input name={{item.key().id()}} type="checkbox">{{item.quantity+" "+item.item}}<br>
				{% endfor %} <br></td>
			</tr>
			<tr>
				<td class="cat"> Toiletry <br>
				{% for item in tn: %}
					<input name={{item.key().id()}} type="checkbox">{{item.quantity+" "+item.item}}<br>
				{% endfor %} <br></td>
				<td class="cat"> Toiletry <br>
				{% for item in tp: %}
					<input name={{item.key().id()}} type="checkbox">{{item.quantity+" "+item.item}}<br>
				{% endfor %} <br></td>
			</tr>
			<tr>
				<td class="cat"> Other <br>
				{% for item in on: %}
					<input name={{item.key().id()}} type="checkbox">{{item.quantity+" "+item.item}}<br>
				{% endfor %} <br></td>
				<td class="cat"> Other <br>
				{% for item in op: %}
					<input name={{item.key().id()}} type="checkbox">{{item.quantity+" "+item.item}}<br>
				{% endfor %} <br></td>
			</tr>
			<tr> <td><br></td></tr>
			
		</table>




	</body>
</form>